.footer{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}

.footerlist{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.footerlist li{
    margin: 0px 4px;
}


.fa fa-youtube-play{
    color: red;
    font-size: 30px;
}

/* i.fa fa-youtube-play::after{
    color: red;
    font-size: 30px;
} */