.header {
    display: flex;
    flex-direction: row;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}


.header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
   
} 

.headerList li{
    margin: 0px 5px;
    border: none;

}

.headerList li a{
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    outline: none;
}