.header {
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.headerList li {
  margin: 0px 15px;
  border: none;
}

.headerList li a {
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  outline: none;
  color: white;
  transition: color 0.5s ease-in-out;
}

.headerList li:hover
{
    width: 100px;
}
.headerList li a:hover,
.headerList li a:active,
.active{
    color: red;
    border-bottom: 2px brown solid;
    
}

